.albuns {
  flex-direction: column;
  padding-bottom: 50px;
  margin-bottom: 100px;
}

.albuns-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.albuns h2 {
  color: #1d3557;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.albuns p {
  color: #303030;
  font-size: 16px;
  line-height: 1.5;
}
